
<div class="newsletter-subscribe" style="font-family:Montserrat, sans-serif;background-color:#eaeaea;">
	<div class="container">
		<div class="intro">
				<h2 class="text-center">Entrar com localização</h2>
				<p class="text-center">Digite sua latitude e longitude</p>
		</div>
		<%= render 'form', fix: @fix %>
		<%= link_to 'Voltar', fixes_path %>
	</div>
</div>