<div class="features-boxed" style="background-color:rgb(245,245,245);">
	<div class="container">
		<div class="intro">
			<h2 class="text-center">Selecionar tipo de Ajuda</h2>
		</div>
		<div class="row features" style="padding-top:20px;">
			<div class="col-lg-offset-2 col-md-offset-2 col-md-4 col-sm-6 col-xs-6 item">
				<a href="/problems">
					<div class="box">
						<%= image_tag("mecanica.png", style:"max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Tentar resolver problema</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 item">
				<a href="/fixes/new">
					<div class="box">
						<%= image_tag("mecanico.png", style:"max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Solicitar um Mecânico</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>