<div class="highlight-clean" style="font-family:Montserrat, sans-serif;background-color:#eeeeee">
	<div class="container">
		<div class="intro">
			<h2 class="text-center" style="margin-bottom:40px;">Avaliar problema</h2>
			<p class="text-center" style="font-size:22px;font-weight:bold;background-color:#cccccc;border-radius:10px;padding-top:10px;padding-bottom:10px;color:#484848">Seu motor parou de funcionar devido a algum acidente?</p>
			<!--Abra o capô e verifique se os cabos da bateria estão devidamente ligados. Você checou os cabos?-->
			<!--A ajuda foi suficiente para resolver seu problema?-->
			<!--Solicitar a ajuda de um mecânico especializado?-->
			<!--Você deseja chamar um serviço de guincho para rebocar o veículo?-->
			<!--Você ficou satisfeito com o resultado da ajuda?-->
		</div>
		<div class="buttons"><a class="btn btn-primary" role="button" href="/fixes/new" style="background-color:rgb(7,174,64);">Sim</a><a class="btn btn-primary" role="button" href="/fixes/new" style="background-color:rgb(217,0,0);">Não</a></div>
	</div>
</div>